<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= pet.address %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

  <p>
    <strong>Found on:</strong>
    <%= pet.found_on %>
  </p>

</div>
